@keyframes onHeaderOpen {
  from {
    align-items: flex-start;
  }
  to {
    align-items: center;
  }
}

@keyframes linksOnHeaderOpen {
  from {
    margin: 0 -10px;
  }
  to {
    margin: 0 10px;
  }
}

@keyframes routerWrapperOnHeaderOpen {
  from {
    width: 0px;
  }
  to {
    @media screen and (min-width: 1440px) {
      width: 810px;
    }
    
    @media screen and (min-width: 768px) and (max-width: 1439px) {
      width: 530px;
    }
  }
}