.region {
  border: 0px;
  padding: 0px;
  background-color: white;
  border: 1px solid rgb(177, 177, 177);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  height: 400px;
  overflow-y: scroll;
  display: none;
  position: absolute;
  &__header {
    font-size: 16px;
    display: flex;
    padding: 0 10px;
    align-items: center;
    height: 40px;
    border-bottom: 1px solid rgb(212, 212, 212);
    font-family: "Golos Medium";
    @media screen and (max-width: 767px) {
      font-size: 14px;
      height: 35px;
    }
  }
  @media screen and (min-width: 1440px) {
    margin-top: 75px;
  }

  @media screen and (min-width: 768px) and (max-width: 1439px) {
    margin-top: 65px;
  }

  @media screen and (max-width: 767px) {
    margin-top: 58px;
    width: 74%;
  }
  &__option {
    cursor: pointer;
    display: flex;
    align-items: center;
    &:hover {
      background-color: rgb(212, 212, 212);
    }
    @media screen and (min-width: 1440px) {
      height: 40px;
      padding: 5px;
    }

    @media screen and (min-width: 768px) and (max-width: 1439px) {
      height: 35px;
      padding: 3px;
    }

    @media screen and (max-width: 767px) {
      height: 30px;
      padding: 5px;
      font-size: 14px;
    }
  }
}